body {
  font: 10px sans-serif;
}

#main {
  padding: 40px;
  left:20%;
  width:482px;
}

.axis {
  stroke: #000;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}


path.constant{
stroke-dasharray: 9, 5;
}